body {
    font-family: Arial, Helvetica, sans-serif, sans-serif,
    background-color: 'purple',
}

label {
    text-align: center,
    color
}

article {
    font-family: Arial, Helvetica, sans-serif,
}